@import url('./assets/styles/Navbar.css');
@import url('./assets/styles/Home.css');
@import url('./assets/styles/Listing.css');
@import url('./assets/styles/Contact.css');
@import url('./assets/styles/Footer.css');