.cont-tit{
    font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 29px;

line-height: 120%;
letter-spacing: 0%;
text-align: center;

}


.contact-info-container {
  margin-top: 50px;
  text-align: center;
}

.contact-card {
  background-color: #5b7bfa;
  color: white;
  border-radius: 20px;
  padding: 25px;
  margin: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.contact-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact-detail {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}
