.footer-section {
  position: relative;
  /* background-color: #363868; */
  background-image: url("../../assets/Images/footerbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 70px;
  width: 100%;
  height: auto;
  color: #373636;
  overflow: hidden;
}

.footer-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #FFFFFF;
  z-index: 0;
}


.footer-content,
.footer-bottom,
.footer-divider {
  position: relative;
  z-index: 1;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}


.footer-logo h3 {
font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #373636;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #070000;
}


.footer-divider {
  border-top: 2px solid rgba(87, 85, 85, 0.801);
  margin-top: 30px;
  margin-bottom: 10px;
}


.footer-bottom {
  text-align: left;
  font-size: 14px;
  color: #373636;
}


.footer-logo-img {
  width: 270px;       /* Figma width */
  height: auto;       /* keeps aspect ratio */
  max-width: 100%;    /* responsive scaling */
  object-fit: contain;
  display: block;
}

/* Center on small screens */
@media (max-width: 768px) {
  .footer-logo {
    justify-content: center !important;
    text-align: center !important;
  }

  .footer-logo-img {
    width: 220px; /* Slightly smaller for mobiles */
  }
}

/* Very small phones */
@media (max-width: 480px) {
  .footer-logo-img {
    width: 180px;
  }
}











@media (max-width: 992px) { /* tablets */
  .footer-logo h3 {
    font-size: 45px;
  }
}

@media (max-width: 768px) { /* large phones */
  .footer-logo h3 {
    font-size: 36px;
  }
}

@media (max-width: 576px) { /* small phones */
  .footer-logo h3 {
    font-size: 28px;
    text-align: center; /* center align on small screens */
  }
}









