
  .contact-banner {
  background-image: url("../../assets/images/poster.jpg");
  background-size: cover;
  background-position: center;
  padding: 90px;
  
}

.filter-divider {
  border-right: 1px solid #e0e0e0; /* light gray separator */
}

/* Remove border on last column in the row */
.filter-divider:last-child {
  border-right: none;
}

/* Optional: Add a little padding to avoid text touching the line */
.filter-divider {
  padding-right: 15px;
}


/* .poster-algn{
    width: 80%;
    align-items: center;
    
} */

/* .poster-main{
    width: 100%;
    margin: 10%;
} */


.blur-background {
  filter: blur(6px);
   opacity: 1;
  pointer-events: none;
  user-select: none;
}

.details-modal .modal-content {
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
}

.modal-backdrop.show {
  backdrop-filter: blur(8px);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
}


.profile-align{
  width: 50px;
  height: 50px;
  object-fit: cover;

}

.btn-clr{
  background: #F69522;

}


.cust-frm{
  font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 20px;

line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

}


.border {
 
  transition: all 0.3s ease;
}


.responsive-title {
  font-size: clamp(14px, 1.2vw, 18px);
}

.responsive-label {
  font-size: clamp(12px, 1vw, 14px);
}


.border:hover {
  background-color: rgba(13, 110, 253, 0.05);
  border-color: #0d6efd;
}

.btn-clr:hover {
  background-color: #BD2230;

}


.cust_cardhead2 {

     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     font-style: normal;
     font-size: 50px;
     line-height: 120%;
     color: aliceblue;
     /* width: 80%;
     align-self: center; */
     letter-spacing: 0%;
     border: none;
 }