
  .contact-banner {
  background-image: url("../../assets/images/poster.jpg");
  background-size: cover;
  background-position: center;
  padding: 90px;
  
}



/* .poster-algn{
    width: 80%;
    align-items: center;
    
} */

/* .poster-main{
    width: 100%;
    margin: 10%;
} */


.blur-background {
  filter: blur(6px);
  pointer-events: none;
  user-select: none;
}

.details-modal .modal-content {
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
}

.modal-backdrop.show {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);
}


.profile-align{
  width: 50px;
  height: 50px;
  object-fit: cover;

}