.head_style {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0;
}

.custom_bg {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.custom_nav {
  position: relative;
  z-index: 1;
  /* padding: 1rem 0; */
  margin-right: 0 !important;
  margin-left: 0 !important;
  background: transparent !important;
}

.get-in-touch-btn {
  background-color: #A780E3;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 18px;
}

.get-in-touch-btn:hover {
  background-color: #8a5fcf;
}

.hero-section {
  position: relative;
  background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.custom_txt {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
  ;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
}

.nav-link {
  color: #000 !important;
  font-weight: 500;
  margin: 0 10px;
}

.nav-link.active {
  color: #A20067 !important;
}

.cust_par {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0;
  color: #363868;
}

.cust_des {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0;
}

.get_started_btn {
  height: 49px;
  border-radius: 10px;
  background-color: #363868;
}

.flip_img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transform: translateY(-15px);
  position: relative;
  z-index: 1;
}

.riyan {
  color: #363868;
}

.custom_image {
  align-items: start;
}

.custom_image_section_head {
  height: 400px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media (max-width:768px) {
  .flip_img {
    display: none;
  }
}